#wrapper #container #center {
  /* Reduce amount of damage done by extremely wide content */
  overflow: hidden;
}

#d-top, #d-topleft, #d-topright {
  zoom:1;
}

form#search-theme-form input#edit-search-theme-form-1 {
  zoom: 1;
}

#header-region {
  margin-bottom: -1em;
}

#right-sidebar, #left-sidebar {
  overflow: hidden; /* Prevent the sidebars from glitching due to wide content. */
  zoom: 1;
}

